@import "tailwindcss";

@theme {
  --color-background: #1b1b1b;
  --color-primary: #925766;
}

body {
  @apply bg-background min-h-screen flex items-center justify-center;
}

.tool-button {
  @apply cursor-pointer bg-primary w-10 h-10 rounded-lg;
}

.rounded {
  @apply border-2 border-gray-400 rounded-2xl;
}

:root {
  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.poppins {
  font-family: "Poppins", sans-serif !important;
}

.roboto {
  font-family: "Roboto", sans-serif !important;
}
